body {
  font-family: 'Clash Display', sans-serif;
}

.screen {
  height: 3000px;
}

.home-page {
  color:  rgb(36, 83, 255);;
  display: flex;
  justify-content:left;
  align-items:center;
}
.menu {
  display: flex;
  justify-content: center;
}

.home, 
.about,
.resume {
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 400px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.15s;
}

.home:hover, .about:hover, .resume:hover{
  text-decoration: underline;
}

.intro-1 {
  font-weight:500;
  margin-bottom: 0px;
  margin-left: 75px;
  margin-top: 150px;
  width: 800px;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: 4px;
}

.down-arrow {
  position: absolute;
  top: calc(100vh - 60px);
  left: calc(50% - 14px);
  width: 0;
  height: 30px;
  border: 2px solid;
  border-radius: 2px;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}

.down-arrow {
  animation: jumpInfinite 1.5s infinite;
}
